*{
    box-sizing: border-box;
}
/*Estilo do body*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.anotacao {
    background-color: rgb(117, 7, 191);
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.cabecalho {
    padding:60px;
    text-align: center;
    background-image: url(/Imagens/exercicio8.png);
    background-size: cover;
    color: rgb(255, 255, 255);
    
}

/*estilo barra de navegação*/
.barra_nav{
    display: flex;
    background-color: rgb(117, 7, 191);
}

.barra_nav a {
    color: rgb(254, 254, 254);
    padding: 14px 10px;
    text-decoration: none;
    text-align: center;
}

/*trocar a cor de fundo quando o mouse estiver sobre o link*/
.barra_nav a:hover {
    background-color: rgb(6, 205, 255);
    color: black;
}

/*configurar a div coluna*/
.coluna {
    display: flex;
    flex-wrap: wrap;

}
/*Criar duas colunas desiguais 30 e 70%*/
.lateral {
    flex: 30%;
    background-color: rgb(72, 0, 120);
    padding: 20px;
    color: white;
}

.principal {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/*Imagens falsas apenas pra marcação*/
.imagem_falsa {
    background-color: rgb(255, 62, 249);
    width: 100%;
    padding: 20px;
    height: 200px;
}


.imagem_falsa2 {
    background-color: rgb(60, 33, 231);
    width: 100%;
    padding: 20px;
    height: 60px;
    margin-bottom: 10px;
}

.imagem_falsa3 {
    background-color: rgba(218, 31, 255, 0.782);
    width: 100%;
    padding: 20px;
    height: 60px;
}

.rodape {
    max-height: fit-content;
    padding: 20px;
    text-align: center;
    background-color: blueviolet;
}

@media screen and (max-width: 500px) {
    .coluna, .barra_nav{
        flex-direction: column;
    }
    .cabecalho {
        background-image: url(/Imagens/SiteReponsivo.png);
        background-size: cover;
        color: white;
    }
}

